/* Support for two columns */
.flex-container {
  display: flex;
  width: 100%;
  height: 100%; }

.flex-half {
  flex-basis: 50%; }

.reveal ul.list--no-bullets {
  list-style: none; }

.reveal ul.padded {
  padding-bottom: 30px; }

img.no-margin {
  margin: 0 !important; }
