<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>reveal.js – The HTML Presentation Framework</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/custom.css">

    <link rel="stylesheet" href="css/theme/blood.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1>HOW'S THE VUE?</h1>
          <h2>An overview of the Vue.js framework and where it stands relative to the other JS libraries you know</h2>
        </section>
        <section>
          <div class="flex-container">
            <div class="flex-half">
              <img src="img/bens_face.png" />
            </div>
            <div class="flex-half">
              <h3>Ben Zittlau</h2>
              <p>@benzittlau</p>
              <p>benzittlau.com</p>
              <p>springlaunched.com</p>
              <p>ben@getjobber.com</p>
            </div>
          </div>
        </section>
        <section>
          <section>
            <h3>When</h3>
          </section>
          <section>
            <h2>A timeline of nearly everything</h2>
            <ul class="list--no-bullets">
              <li><a href="https://en.wikipedia.org/wiki/Jesus">0 - Jesus is born</a></li>
              <li><a href="http://misko.hevery.com/2009/09/28/hello-world-angular-is-here/">Sept 2009 - Angular is announced</a></li>
              <li><a href="http://www.h-online.com/open/news/item/SproutCore-2-0-becomes-Ember-js-1394362.html">Dec 2011 - SproutCore 2.0 becomes Ember.js</a></li>
              <li><a href="https://github.com/facebook/react/blob/master/CHANGELOG.md#0120-october-28-2014">May 2013 - React 0.3.0 is open sourced</a></li>
              <li class="fragment grow"><a href="http://blog.evanyou.me/2014/02/11/first-week-of-launching-an-oss-project/">Feb 2014 - Vue.js is released</a></li>
              <li><a href="https://www.youtube.com/watch?v=gNmWybAyBHI">Oct 2014 - Angular 2 is announced</a></li>
              <li><a href="https://emberjs.com/blog/2015/08/13/ember-2-0-released.html">Aug 2015 - Ember 2.0 is released</a></li>
              <li><a href="https://github.com/facebook/react/blob/master/CHANGELOG.md#1500-april-7-2016">April 2016 - React 15 released</a></li>
              <li class="fragment grow"><a href="https://vuejs.org/2016/04/27/announcing-2.0/">April 2016 - Vue.js 2 is released</a></li>
              <li><a href="https://github.com/angular/angular.io/pull/2402">Sept 2016 - Angular 2 stable release</a></li>
              <li><a href="https://techcrunch.com/2017/04/18/facebook-announces-react-fiber-a-rewrite-of-its-react-framework/">April 2017 - React Fibre released</a></li>
            </ul>
          </section>
          <section>
            <h2>Heating Up</h2>
            <img src="img/vue_js_trends.png" alt="Vue JS Trends">
          </section>
          <section>
            <h2>To Contrast</h2>
            <div class="flex-container">
              <div class="flex-half">
                <img src="img/vue_js_trends.png" alt="Vue JS Trends">
              </div>
              <div class="flex-half">
                <img src="img/angular_trends.png" alt="Angular JS Trends">
              </div>
            </div>
          </section>
        </section>

        <section>
          <section>
            <h3>Who</h3>
          </section>
          <section>
            <h2>You!</h2>
            <div class="flex-container fragment" data-fragment-index="1">
              <div>
                <img src="img/evan_you.png" alt="Evan You">
              </div>
              <div>
                <img src="img/vue_contributors.png" alt="Vue JS Commits">
              </div>
            </div>
            <h3 class="fragment" data-fragment-index="1">Full time since June 2016</h3>
          </section>
        </section>
        <section>
          <section>
            <h3>Why</h3>
          </section>
          <section>
            <blockquote cite="https://medium.freecodecamp.com/between-the-wires-an-interview-with-vue-js-creator-evan-you-e383cbf57cc4">
              I figured, what if I could just extract the part that I really liked about Angular and <strong>build something really lightweight without all the extra concepts involved?</strong>
            </blockquote>
            <blockquote cite="https://medium.freecodecamp.com/between-the-wires-an-interview-with-vue-js-creator-evan-you-e383cbf57cc4">
            I think, in terms of all the frameworks out there, Vue is probably the most similar to React, but on a broader sense, among all the frameworks, <strong>the term that I coined myself is a progressive framework.</strong> ... Compared to React, Vue puts a bit more focus on approachability.
            </blockquote>
            <a href="https://medium.freecodecamp.com/between-the-wires-an-interview-with-vue-js-creator-evan-you-e383cbf57cc4">Evan You</a>
          </section>
        </section>
        <section>
          <section>
            <h3>What</h3>
          </section>
          <section>
            <h2>Some code, yes?!</h2>
            <p>Let's 'progressive' something</p>
            <img src="img/signup_form.png" alt="">
            <p><a href="https://codepen.io/benzittlau/pen/KmOJmE/?editors=1000#0">Before</a></p>
            <p><a href="https://codepen.io/benzittlau/pen/WjVPwg/">After</a></p>
          </section>
        </section>
        <section>
          <section>
            <h3>It's got some...</h3>
          </section>
          <section>
            <h2>Angularisms (Templates)</h2>
<pre><code data-trim class="html">
<!--Vue.js Template-->
<div>
  <h2>{{ title }}</h2>
  <ul class="unbulleted">
    <li v-for="person of filteredPeople">
      {{ person.name }} - {{ person.role }}
    </li>
  </ul>
</div>
</code></pre>
<pre><code data-trim class="html">
<!--Angular Template-->
<div>
  <h2>{{ title }}</h2>
  <ul class="unbulleted">
    <li *ngFor="let person of filteredPeople">
      {{ person.name }} - {{ person.role }}
    </li>
  </ul>
</div>
</code></pre>
          </section>
          <section>
            <h2>Reactisms (Data/State)</h2>
<pre><code data-trim class='js'>
<!--Vue.js Component-->
Vue.component('filterable-list', {
  ...
  data: function() {
    return {
      title: 'Exchange.js June 2017 People List',
      people: [
        {name: 'Mark Bennett', role: 'Organizer'},
        {name: 'Ben Zittlau', role: 'Speaker'},
        {name: 'Yuan Ji', role: 'Speaker'},
        {name: 'Sean Healy', role: 'Attendee'},
        {name: 'Abram Hindle', role: 'Attendee'},
      ]
    }
  },
  ...
}
</code></pre>
          </section>
          <section>
            <h2>Reactisms (Data/State)</h2>
<pre><code data-trim class='js'>
<!--React Component-->
class FilteredList extends Component {
  constructor(props) {
    ...
    this.state = {
      title: 'Exchange.js June 2017 People List',
      people: [
        {name: 'Mark Bennett', role: 'Organizer'},
        {name: 'Ben Zittlau', role: 'Speaker'},
        {name: 'Yuan Ji', role: 'Speaker'},
        {name: 'Sean Healy', role: 'Attendee'},
        {name: 'Abram Hindle', role: 'Attendee'},
      ]
    }
  }
  ...
}
</code></pre>
          </section>

          <section>
            <h2>Reactisms (Props)</h2>
<pre><code data-trim class='js'>
<!--Vue.js Component-->
Vue.component('filterable-list', {
  ...
  props: {
    filter: String
  },
  ...
}
</code></pre>
          </section>
          <section>
            <h2>Reactisms (Props)</h2>
<pre><code data-trim class='js'>
<!--React Component-->
import PropTypes from 'prop-types';

class FilteredList extends Component {
  constructor(props) {
    super(props)
    ...
  }
  ...
}

FilteredList.propTypes = {
  filter: PropTypes.string
};
</code></pre>
          </section>
          <section>
            <h2>Emberisms (Computed)</h2>
<pre><code data-trim class='js'>
<!--Vue.js Component-->
Vue.component('filterable-list', {
  ...
  computed: {
    filteredPeople: function() {
      if (this.filter === 'all') {
        return this.people
      }

      var vm = this;
      return this.people.filter(function(person) {
        return person.role === vm.filter
      })
    }
  },
  ...
})
</code></pre>
          </section>
          <section>
            <h2>Emberisms (Computed)</h2>
<pre><code data-trim class='js'>
<!--Ember Component-->
export default Component.extend({
  ...
  filteredPeople: Ember.computed('filter', 'people', function() {
    const people = Ember.get(this, 'people');
    const filter = Ember.get(this, 'filter');

    if (filter === 'all') {
      return people
    }

    var that = this;
    return people.filter(function(person) {
      return person.role === that.filter
    })
  }),
  ...
})
</code></pre>
          </section>
          <section>
            <h3>And you put them all together...</h3>
            <img src="img/people_list.png" />
            <p><a href="https://codepen.io/benzittlau/pen/pPMBdL?editors=1010">Mini Vue.js App</a></p>
          </section>
        </section>
        <section>
          <section>
            <h3>Some Thoughts</h3>
            <ul>
              <li>Really neat features inspired from other frameworks</li>
              <li>Lots of other great features I didn't have time to show</li>
              <li>Accomplishes it's goals (accessible and progressive) really well</li>
              <li>Comparable performance to other frameworks</li>
            </ul>
            <h3 class="fragment">But...</h3>
          </section>
          <section>
            <h3>Good for...</h3>
            <ul>
              <li>Replacing jQuery as a tool to add behaviour to an existing DOM</li>
              <li>Projects with casual contribution you want to lower the barrier to entry on</li>
            </ul>
            <h3>Not sure about...</h3>
            <ul>
              <li>
                Using for full SPA applications vs. the other alternatives
                <ul>
                  <li>Pretty immature testing support</li>
                  <li>Has some strong core projects (router, cli), but less mature community options</li>
                  <li>No strong "Tier 1" backers (largely a one man show)</li>
                  <li>No strong reference projects in production (GitLab)</li>
                </ul>
              </li>
            </ul>
          </section>
        </section>
        <section>
          <blockquote>At the end of the day I liked it a lot, and could see it becoming an easy to use "go to" for side projects</blockquote>
          <h3>Ben Zittlau</h2>
          <p>@benzittlau</p>
          <p>benzittlau.com</p>
          <p>springlaunched.com</p>
          <p>ben@getjobber.com</p>
        </section>
      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        margin: 0.2,
        height: 900,
        maxScale: 1,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return true; }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
